@import "../../../orion/editor/editor.css";

.comment.block.documentation {
	color: #00008F;
}

.constant.character.entity {
	font-style: normal;
}

.entity.name.function, .entity.name.type {
	font-weight: bold;
	color: #67BBB8;
}

.entity.name {
	color: #98937B;
}

.entity.other.attribute.name {
	color: #3C802C;
}

.meta.documentation.tag {
	color: #7F7F9F;
}

.meta.documentation.annotation {
	color: #7F9FBF;
}

.meta.preprocessor {
	color: #A4A4A4;
}

.markup.bold {
	font-weight: bold;
}

.markup.heading, .markup-heading {
	color: blue;
}

.markup.italic {
	font-style: italic;
}

.markup.list {
	color: #CC4C07;
}

.markup.other.separator {
	color: #00008F;
}

.markup.other.strikethrough {
	text-decoration: line-through;
}

.markup.other.table {
	color: #3C802C;
}

.markup.quote, .markup-quote {
	color: #446fbd;
}

.markup.raw {
	font-family: monospace
}

markup.raw.html.markdown {
	background-color: #E4F7EF
}

.markup.underline.link {
	text-decoration: underline;
}

.punctuation.definition.comment {
	color: #3f5fbf;
}

.punctuation.definition.string {
	color: blue;
}

.variable.parameter {
	color: #D1416F;
}

.variable.language {
	color: #7F0055;
	font-weight: bold;
}

.variable.other {
	color: #E038AD;
}
