/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/

.cells {
    font-family: mainFontFamily;
    font-size: fontSize;
}

.cells th {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    color: #dbdbdb;
}

.cells td {
    border: none;
}

.cells tr {
    background-color: inherit;
    color: #a0a0a0;
}

.textFont {
    cursor: default;
    font-family: mainFontFamily;
    font-size: fontSize;
    font-style: normal;
    font-weight: normal;
}

.simpleListContainer {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.emptyBorder {
    margin: 6px;
    width: 450px;
}

.spacing div {
    margin-bottom: 1px;
}

.spacing input {
    width: 420px;
    margin-top: 1px;
    margin-bottom: 9px;
    display: inline;
    float: left;
}