/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
@eval errorColor org.eclipse.che.ide.api.theme.Style.getErrorColor();
@eval disableTextColor org.eclipse.che.ide.api.theme.Style.getEditorInfoTextColor();

.exo-autocomplete-fqn {
    color: gray;
}

.exo-codeassistant-counter {
    color: #326EED;
}

.overview-mark-error,
.overview-mark-warning, .overview-mark-task {
    margin-top: 6px;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    left: 1px;
    right: 2px;
    height: 3px;
    position: absolute;
}

.overview-mark-error {
    background-color: #DB4C29;
    border: 0;
}

.overview-mark-task {
    background-color: #a5c5e4;
    border-color: #2c92f8;
}

.overview-mark-warning {
    background-color: #EFD746;
    border: 0;
}

.mark-element svg {
    position: relative;
    width: 10px;
    height: 10px;
    margin-left: 2px;
    margin-top: 2px;
}

.mark-element {
    position: absolute;
}

.error-border {
    border-bottom: 1px solid errorColor !important;
}

.disable-text-color {
    color: disableTextColor;
}

.search-match {
    background: linear-gradient(to bottom, #c1be9e 6%, #B89C07 64%);
    border-radius: 2px;
    padding-right: 2px;
    padding-left: 2px;
}