/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/

.mainPanel {
  margin: 0px;
  border: none !important;
  height: 100%;
}

.namePanel {
  margin-top: 5px;
  overflow: hidden;
  display: block;
}

.marginTop {
  margin-top: 10px;
}

.horizontalLine {
  width: 255px;
  margin-top: 7px;
  float: right;
  border-bottom: 1px solid #505050;
}

.label {
  font-weight: bold;
  font-size: 12px;
}

.labelPosition {
  position: relative;
  line-height: 29px;
  margin-right: 9px;
  font-weight: bold;
  float: left;
  font-size: 12px;
}

.labelErrorPosition {
  margin-right: 9px;
  margin-left: 47px;
  margin-top: 5px;
  position: relative;
  font-weight: lighter;
  font-size: 12px;
  text-align: center;
  color: firebrick;
  display: block;
  float: left;
}

.description {
  font-size: 11px;
}

.alignRight {
  float: right;
}
