/*******************************************************************************
 * Copyright (c) 2012-2015 Codenvy, S.A.
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   Codenvy, S.A. - initial API and implementation
 *******************************************************************************/
@eval logoFill org.eclipse.che.ide.api.theme.Style.getLogoFill();

.emptyBorder {
    margin: 6px;
}

.label {
    margin: 6px 5px 0 15px;
    margin-right: 5px;
    font-size: 11px;
    font-weight: bold;
    float: left;
    clear: left;
}

.spacing {
    margin-top: 10px;
}

.value {
    font-size: 11px;
    float: left;
    margin-top: 6px;
}

.mainText {
    font-family: mainFontFamily;
}

.logo g {
    fill: logoFill;
}